#sws-container.settingsContents.settingsContents__sendwithstyle(data-section='sendwithstyle')
  h2.settingsTitle
    span Send with Style&nbsp;
    input#sws-enabled-check(type='checkbox')
    | &nbsp;
    label#sws-enabled-label(for='sws-enabled-check')
  p.explanation Type your text as you normally would, use the codes to style your text.
  p.explanation.sws-bold
    | If your settings are lost, please&nbsp;
    a(href='https://github.com/dogancelik/irccloud-sws/wiki/Help#my-custom-settings-have-disappeared-in-new-version-what-do-i-do', target='_blank') read this page
    | &nbsp;to learn how to recover it.
  table.sws-info-table
    tr
      th Code
      th Example
    tr
      td
        code %C
        | &nbsp;for&nbsp;
        a#sws-colors-anchor(title='Click here to show color numbers', style='border-bottom: 1px dashed black;')
          font(color='#ff0000') c
          font(color='#cc8f33') o
          font(color='#99ed66') l
          font(color='#66f899') o
          font(color='#33accc') r
      td
        code %C2This is blue
        | &nbsp;→&nbsp;
        code
          span(style='color: blue') This is blue
    tr#sws-colors-box
      td(colspan='2')
        table.sws-colors-table
          tr
            td: span.bg-white.black 0
            td: span.bg-black.white 1
            td: span.bg-navy.white 2
            td: span.bg-green.white 3
            td: span.bg-red.black 4
            td: span.bg-maroon.white 5
            td: span.bg-purple.white 6
            td: span.bg-orange.black 7
            td: span.bg-yellow.black 8
            td: span.bg-lime.black 9
            td: span.bg-teal.white 10
            td: span.bg-cyan.black 11
            td: span.bg-blue.white 12
            td: span.bg-magenta.black 13
            td: span.bg-grey.black 14
            td: span.bg-silver.black 15
    tr
      td
        code %B
        | &nbsp;for&nbsp;
        b bold
      td
        code %BVery bold
        | &nbsp;→&nbsp;
        code
          b Very bold
    tr
      td
        code %I
        | &nbsp;for&nbsp;
        i italic
      td
        code %IPizza
        | &nbsp;→&nbsp;
        code
          i Pizza
    tr
      td
        code %U
        | &nbsp;for&nbsp;
        u underline
      td
        code %UBeep
        | &nbsp;→&nbsp;
        code
          u Beep
    tr
      td
        code %R
        | &nbsp;for reset
      td
        code %C4Wo%Rrd
        | &nbsp;→&nbsp;
        code
          span(style='color: red') Wo
          | rd
  p.explanation
    input#sws-keyboard-mode(type='checkbox')
    label(for='sws-keyboard-mode') &nbsp;Keyboard Mode (Disables %C, %B etc.)&nbsp;
    span.sws-key-box
      label(for='sws-key-ctrl') Ctrl:&nbsp;
      input#sws-key-ctrl(type='checkbox')
    span.sws-key-box
      label(for='sws-key-alt') Alt:&nbsp;
      input#sws-key-alt(type='checkbox')
    span.sws-key-box
      label(for='sws-key-alt') Shift:&nbsp;
      input#sws-key-shift(type='checkbox')
    span.sws-key-box
      label(for='sws-key-char') Key:&nbsp;
      input#sws-key-char(type='text')
  p.explanation
    input#sws-colors-table(type='checkbox')
    label(for='sws-colors-table') &nbsp;Show Colors Table (when you are about to type color numbers)
  p.explanation
    input#sws-markdown-mode(type='checkbox')
    label(for='sws-markdown-mode') &nbsp;Markdown Mode (Enables <code>*</code> and <code>_</code> for italic text, <code>**</code> for bold text, and <code>__<code> for underlined text.)
  p.explanation
    input#sws-special-funcs(type='checkbox')
    label(for='sws-special-funcs') &nbsp;Special Functions (Enables <code>&lt;rainbow&gt;</code> tag)
  h3 Custom aliases
  textarea#sws-custom-alias
  hr
  p#sws-donate.explanation.sws-bold
    | If you like this script, please&nbsp;
    a(href='http://dogancelik.com/donate.html', target='_blank') consider a donation
  p.explanation
    a(href='https://github.com/dogancelik/irccloud-sws', target='_blank') Source code
    | &nbsp;-&nbsp;
    a(href='https://github.com/dogancelik/irccloud-sws/issues', target='_blank') Report bug / Request feature
    | &nbsp;-&nbsp;
    a(href='https://github.com/dogancelik/irccloud-sws/wiki/Help', target='_blank') Help
