#sws-container.accountContainer
  button.close(type='button')
    span Close
  h2
    span Send with Style&nbsp;
    input#sws-enabled-check(type='checkbox')
    | &nbsp;
    label#sws-enabled-label(for='sws-enabled-check')
  p.explanation Type your text as you normally would, use the codes to style your text.
  table.sws-info-table
    tr
      th Code
      th Example
    tr
      td
        code %C
        | &nbsp;for&nbsp;
        a#sws-colors-anchor(title='Click here to show color numbers', style='border-bottom: 1px dashed black;')
          font(color='#ff0000') c
          font(color='#cc8f33') o
          font(color='#99ed66') l
          font(color='#66f899') o
          font(color='#33accc') r
      td
        code %C2This is blue
        |  → 
        code
          span(style='color: blue') This is blue
    tr#sws-colors-box
      td(colspan='2')
        table.sws-colors-table
          tr
            td: span.bg-white.black 0
            td: span.bg-black.white 1
            td: span.bg-navy.white 2
            td: span.bg-green.white 3
            td: span.bg-red.black 4
            td: span.bg-maroon.white 5
            td: span.bg-purple.white 6
            td: span.bg-orange.black 7
            td: span.bg-yellow.black 8
            td: span.bg-lime.black 9
            td: span.bg-teal.white 10
            td: span.bg-cyan.black 11
            td: span.bg-blue.white 12
            td: span.bg-magenta.black 13
            td: span.bg-grey.black 14
            td: span.bg-silver.black 15
    tr
      td
        code %B
        |  for 
        b bold
      td
        code %BVery bold
        |  → 
        code
          b Very bold
    tr
      td
        code %I
        |  for 
        i italic
      td
        code %IPizza
        |  → 
        code
          i Pizza
    tr
      td
        code %U
        |  for 
        u underline
      td
        code %UBeep
        |  → 
        code
          u Beep
    tr
      td
        code %R
        |  for reset
      td
        code %C4Wo%Rrd
        |  → 
        code
          span(style='color: red') Wo
          | rd
  p.explanation
    input#sws-keyboard-mode(type='checkbox')
    label(for='sws-keyboard-mode') &nbsp;Keyboard Mode (Disables %C, %B etc.)&nbsp;
    span.sws-key-box
      label(for='sws-key-ctrl') Ctrl:&nbsp;
      input#sws-key-ctrl(type='checkbox')
    span.sws-key-box
      label(for='sws-key-alt') Alt:&nbsp;
      input#sws-key-alt(type='checkbox')
    span.sws-key-box
      label(for='sws-key-alt') Shift:&nbsp;
      input#sws-key-shift(type='checkbox')
    span.sws-key-box      
      label(for='sws-key-char') Key:&nbsp;
      input#sws-key-char(type='text')
  p.explanation
    input#sws-colors-table(type='checkbox')
    label(for='sws-colors-table') &nbsp;Show Colors Table (when you are about to type color numbers)
  p.explanation
    input#sws-markdown-mode(type='checkbox')
    label(for='sws-markdown-mode') &nbsp;Markdown Mode (Enables <code>*</code> and <code>**</code> for italic and bold text)
  p.explanation
    input#sws-special-funcs(type='checkbox')
    label(for='sws-special-funcs') &nbsp;Special Functions (Enables <code>&lt;rainbow&gt;</code> tag)
  p.explanation Custom aliases
  textarea#sws-custom-alias
  p#sws-donate.explanation
    | If you like this script, please 
    a(href='https://flattr.com/submit/auto?user_id=dogancelik&url=https%3A%2F%2Fgithub.com%2Fdogancelik%2Firccloud-sws', target='_blank') Flattr it
    | &nbsp;or help me via&nbsp;
    a(href='https://gratipay.com/dogancelik/', target='_blank') Gratipay
  p.explanation
    a(href='https://github.com/dogancelik/irccloud-sws', target='_blank') Source code
    | &nbsp;-&nbsp;
    a(href='https://github.com/dogancelik/irccloud-sws/issues', target='_blank') Report bug / Request feature
    | &nbsp;-&nbsp;
    a(href='https://github.com/dogancelik/irccloud-sws/wiki/Help', target='_blank') Help
