#sws-container
  font-size 18px
  display none

#sws-bar
  color #C0DBFF
  float right

  &::after
    content "\\00a0|\\00a0"

  a
    cursor pointer

.sws-info-table
  width 100%
  border 1px solid rgba(0,0,0,.1)
  border-radius .2em
  padding .5em

.sws-colors-table
  td
    background-color #fff
    height 20px
    width 20px
    line-height 20px
    font-size 12px
    border 1px solid black
    border-left 0
    text-align center
    padding 1px
    cursor pointer
  td:first-child
    border-left 1px solid black
  span
    display inline-block
    height 20px
    width 20px

#sws-colors-box
  display none

#sws-colors-anchor
  cursor pointer

.sws-key-box
  display inline-block
  background-color rgba(0, 0, 0, 0.1)
  border-radius .25em
  padding .25em .5em
  margin-right .25em

#sws-key-char
  width 30px

#sws-donate
  font-weight bold

  a
    vertical-align top

#sws-custom-alias
  height 60px
  width 100%

#sws-enabled-label
  font-weight normal

#sws-enabled-check:not(:checked) ~ #sws-enabled-label
  color red

  &::after
    content "Not enabled"

#sws-enabled-check:checked ~ #sws-enabled-label
  color green

  &::after
    content "Enabled"
